section.blog {
  position: relative;
  padding: 50px;
  .blog-image {
    margin: auto;
    position: relative;
    min-height: 300px;
    img {
      border-radius: 5px;
    }
    &:hover {
      box-shadow: 5px;
      transition: all 0.6s; 
      transform: scale(1.04);
    }
    a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 5px;
      > div {
        position: static !important;
      }
      > div > div {
        position: static !important;
      }
      &:focus {
        outline: none;
        box-shadow: 0 0 0 5px;
      }
    }
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
    @media (max-width: 800px) {
      flex-basis: 100%;
      max-width: 100%;
      width: 100%;
      margin-bottom: 1.5rem;
    }
    @media (max-width: 500px) {
      min-height: 200px;
    }
  }
}
